.info-section {
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.info-card {
  text-align: left;
  background-color: #fbfbfb;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.info-card img {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .info-container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .info-container{
    display: flex;
    flex-direction: column;
  }
  .info-section {
    max-width: 800px;
    margin: 0 auto;
  }
}